@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import "tailwindcss";
@import "tailwindcss";
*{
  box-sizing: border-box;
  
  font-family: "Inter";
  scrollbar-width: thin;
  scrollbar-color: transparent;
}

/* 
.p-inputtext{
    color:black;
    font-weight: 200;
    font-size: 16px;
    background: #ffffff;
    border-color:#BFBFBF;
    height: 12rem;
   
}
.p-inputtext:enabled:focus{
  border-color:#BFBFBF !important;
  box-shadow:none !important;
}
.p-inputtext:enabled:hover{
  border-color: #BFBFBF;
}

.p-rating .p-rating-item .p-rating-icon.p-icon {
    width: 2rem;
    height: 2rem;
}

.p-rating .p-rating-item .p-rating-icon {
  color:#EAEAEA;
}

.p-rating .p-rating-item.p-focus {
  box-shadow: none;
} */

.p-inputtext{
  border-color: #BFBFBF;
}


.p-inputtext:focus{
  box-shadow: none;  
}

.p-rating .p-rating-item .p-rating-icon {
  color:#EAEAEA;
   width: 2rem;
    height: 2rem;

}

.p-rating .p-rating-item.p-focus{
  box-shadow: none;
}



.p-dropdown{
  border-color:grey;
  border-radius: 1.6rem;
  
}

.p-dropdown.p-focus {
  box-shadow: none;
}

.p-dropdown:hover{
  border-color:none;
}